# -*- mode: gitignore; -*-

# ignored folders
# ---------------
old/
extras/report
# I use this prefix for temp folders
tmp-*/
~*/

# emacs files
#---------------
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# gedit temp files
# ----------------
*~

# grive temp files
# ----------------
*.grive

# other ignd files
# ----------------
*.zip
